ebin/*
*.beam
deps/*
*.plt
*.DS_Store
*.log
apps/*/logs
erl_crash.dump
*Mnesia*
*.rebar/erlcinfo
*.app
/rel/pasture
log
apps/pasture/.rebar/
.rebar/erlcinfo
rel/files/sys.config
apps/pasture/priv/pasture.db