[

 {pasture,[
    {http_port, 8001},
    {oauth_token, "101055484-NVfKL3Tr1LioLunboyIvqPW8z4sE8hgVUlJkVRYB"},
    {oauth_token_secret, "EBoeXKuK3oLWEExK6otVGEzc7hXgF50ZJhBZBNICbifQV"},
    {oauth_consumer_key, "VxVSRMkD97tJSm3iBg0fbatBR"},
    {oauth_consumer_secret, "UGfTwIh1DRM0xKQYGtYQjV8maSmiTJSfghmT1KKunU1K5rK03l"}
 ]},

 {lager,
  [
   {handlers,
    [
     {lager_console_backend, debug},
     {lager_file_backend,
      [
       {"log/error.log", error, 10485760, "$D0", 5},
       {"log/console.log", info, 10485760, "$D0", 5}
      ]}
    ]}
  ]},

 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].

