<!DOCTYPE html>
<html lang="en" ng-app="pastureApp" >
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="angular-1.3.9/angular.min.js">
    </script>
    <script type="text/javascript" src="js/venue.js">
    </script>

    <link rel="stylesheet" href="bootstrap-3.2.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-3.2.0-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/main.css">

    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <title>Index</title>
    </head>
    <body ng-controller="PastureController as ctrlr">

        <!-- venue -->
        <div class="container">
            <h2 class="sub-header"><a href="/">Home</a></h2>
            <h2 class="sub-header">Meetup venue</h2>
            <button ng-click="p_v_data.scroll(p_v_data.prev)">Prev</button>
            <button ng-click="p_v_data.scroll(p_v_data.next)">Next</button>
            <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>venue_id</th>
                      <th>lat</th>
                      <th>lon</th>
                      <th>venue_name</th>
                    </tr>
                  </thead>
                  <tbody ng-show="true">
                    <tr ng-repeat="p_ve in p_v_data.pasture_venue">
                      <td>{{p_ve.venue_id}}</td>
                      <td>{{p_ve.lat}}</td>
                      <td>{{p_ve.lon}}</td>
                      <td>{{p_ve.venue_name}}</td>
                    </tr>
                  </tbody>
                </table>
                <button ng-click="p_v_data.scroll(p_v_data.prev)">Prev</button>
                <button ng-click="p_v_data.scroll(p_v_data.next)">Next</button>
            </div>
        </div>

        <script type="text/javascript" src="js/jquery-1.11.2.min.js">
        </script>
        <script type="text/javascript" src="bootstrap-3.2.0-dist/js/bootstrap.min.js">
        </script>
    </body>
</html>