[

 {kernel,[
   {sync_nodes_mandatory, {{cluster_nodes}} },
   {sync_nodes_timeout, infinity}
 ]},

 {pasture,[
    {http_port, 8001},
    {oauth_token, ""},
    {oauth_token_secret, ""},
    {oauth_consumer_key, ""},
    {oauth_consumer_secret, ""},
    {meetup_chunk_count, 10},
    {batch_size, 100},
    {master_db_node, {{master_db_node}} },
    {db_nodes, {{cluster_nodes}} }

 ]},

 {lager,
  [
   {handlers,
    [
     {lager_console_backend, debug},
     {lager_file_backend,
      [
       {"log/error.log", error, 10485760, "$D0", 5},
       {"log/console.log", info, 10485760, "$D0", 5}
      ]}
    ]}
  ]},

 {mnesia,[
	%% XXX: use extra db nodes, and remote some code 
	%% from pasture_db.erl
        %% {extra_db_nodes, {{cluster_nodes}} }
    ]
 },

 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].

